In [1]:
import pandas as pd
import numpy as np

In [2]:
groceries = pd.read_excel('Groceries.xlsx')
groceries.head()

,Product_ID,Category,Item,Price_Dollars,Inventory,Last_Updated,Next_Scheduled_Shipment
0,P100010,Produce: Fruit,Apple,1.50,349,2023-06-12 15:35:00,2023-06-15
1,P100011,Produce: Fruit,Banana,0.40,500,2023-06-12 18:30:00,2023-06-15
2,P100012,Produce: Fruit,Grapes,4.00,200,2023-06-12 17:22:00,2023-06-15
3,P100013,Produce: Fruit,Grapefruit,0.99,50,2023-06-12 16:29:00,2023-06-15
4,P100014,Produce: Fruit,Organic Strawberries,3.99,148,2023-06-12 18:10:00,2023-06-15

In [3]:
# remove P from Product_ID
groceries['Product_ID_Num'] = groceries.Product_ID.str[1:]
groceries.head()

,Product_ID,Category,Item,Price_Dollars,Inventory,Last_Updated,Next_Scheduled_Shipment,Product_ID_Num
0,P100010,Produce: Fruit,Apple,1.50,349,2023-06-12 15:35:00,2023-06-15,100010
1,P100011,Produce: Fruit,Banana,0.40,500,2023-06-12 18:30:00,2023-06-15,100011
2,P100012,Produce: Fruit,Grapes,4.00,200,2023-06-12 17:22:00,2023-06-15,100012
3,P100013,Produce: Fruit,Grapefruit,0.99,50,2023-06-12 16:29:00,2023-06-15,100013
4,P100014,Produce: Fruit,Organic Strawberries,3.99,148,2023-06-12 18:10:00,2023-06-15,100014

In [4]:
# checking datatype 
groceries.dtypes

Product_ID                         object
Category                           object
Item                               object
Price_Dollars                     float64
Inventory                           int64
Last_Updated               datetime64[ns]
Next_Scheduled_Shipment    datetime64[ns]
Product_ID_Num                     object
dtype: object

In [5]:
#Still 'Product_ID_Num' is Object. So, covert it into INT 
groceries['Product_ID_Num'].astype('int')

0     100010
1     100011
2     100012
3     100013
4     100014
5     100015
6     100016
7     100017
8     100018
9     100019
10    100020
11    100021
12    100022
13    100023
14    100024
15    100025
16    100026
17    100027
18    100028
19    100029
20    100030
21    100031
22    100032
23    100033
24    100034
Name: Product_ID_Num, dtype: int32

In [6]:
# checking datatype 
groceries.dtypes

Product_ID                         object
Category                           object
Item                               object
Price_Dollars                     float64
Inventory                           int64
Last_Updated               datetime64[ns]
Next_Scheduled_Shipment    datetime64[ns]
Product_ID_Num                     object
dtype: object

In [7]:
#Still 'Product_ID_Num' is Object. So, give it a dataframe and save it. 
groceries['Product_ID_Num'] = groceries['Product_ID_Num'].astype('int')

In [8]:
# checking datatype 
groceries.dtypes

Product_ID                         object
Category                           object
Item                               object
Price_Dollars                     float64
Inventory                           int64
Last_Updated               datetime64[ns]
Next_Scheduled_Shipment    datetime64[ns]
Product_ID_Num                      int32
dtype: object

In [9]:
groceries.head()

,Product_ID,Category,Item,Price_Dollars,Inventory,Last_Updated,Next_Scheduled_Shipment,Product_ID_Num
0,P100010,Produce: Fruit,Apple,1.50,349,2023-06-12 15:35:00,2023-06-15,100010
1,P100011,Produce: Fruit,Banana,0.40,500,2023-06-12 18:30:00,2023-06-15,100011
2,P100012,Produce: Fruit,Grapes,4.00,200,2023-06-12 17:22:00,2023-06-15,100012
3,P100013,Produce: Fruit,Grapefruit,0.99,50,2023-06-12 16:29:00,2023-06-15,100013
4,P100014,Produce: Fruit,Organic Strawberries,3.99,148,2023-06-12 18:10:00,2023-06-15,100014

In [10]:
# splitting the column 'category'
groceries.Category.str.split(':').to_list()

[['Produce', ' Fruit'],
 ['Produce', ' Fruit'],
 ['Produce', ' Fruit'],
 ['Produce', ' Fruit'],
 ['Produce', ' Fruit'],
 ['Produce', ' Fruit'],
 ['Produce', ' Vegetable'],
 ['Produce', ' Vegetable'],
 ['Produce', ' Vegetable'],
 ['Produce', ' Vegetable'],
 ['Produce', ' Meat'],
 ['Produce', ' Meat'],
 ['Produce', ' Meat'],
 ['Produce', ' Dairy'],
 ['Produce', ' Dairy'],
 ['Produce', ' Dairy'],
 ['Produce', ' Dairy'],
 ['Pantry', ' Snacks'],
 ['Pantry', ' Snacks'],
 ['Pantry', ' Snacks'],
 ['Pantry', ' Snacks'],
 ['Frozen', ' Frozen Snacks'],
 ['Frozen', ' Frozen Snacks'],
 ['Frozen', ' Frozen Fruit'],
 ['Frozen', ' Frozen Fruit']]

In [11]:
pd.DataFrame(groceries.Category.str.split(':').to_list())

          0               1
0   Produce           Fruit
1   Produce           Fruit
2   Produce           Fruit
3   Produce           Fruit
4   Produce           Fruit
5   Produce           Fruit
6   Produce       Vegetable
7   Produce       Vegetable
8   Produce       Vegetable
9   Produce       Vegetable
10  Produce            Meat
11  Produce            Meat
12  Produce            Meat
13  Produce           Dairy
14  Produce           Dairy
15  Produce           Dairy
16  Produce           Dairy
17   Pantry          Snacks
18   Pantry          Snacks
19   Pantry          Snacks
20   Pantry          Snacks
21   Frozen   Frozen Snacks
22   Frozen   Frozen Snacks
23   Frozen    Frozen Fruit
24   Frozen    Frozen Fruit

In [12]:
groceries[['Category', 'Subcategory']] = pd.DataFrame(groceries.Category.str.split(':').to_list())

In [13]:
groceries.head()

,Product_ID,Category,Item,Price_Dollars,Inventory,Last_Updated,Next_Scheduled_Shipment,Product_ID_Num,Subcategory
0,P100010,Produce,Apple,1.50,349,2023-06-12 15:35:00,2023-06-15,100010,Fruit
1,P100011,Produce,Banana,0.40,500,2023-06-12 18:30:00,2023-06-15,100011,Fruit
2,P100012,Produce,Grapes,4.00,200,2023-06-12 17:22:00,2023-06-15,100012,Fruit
3,P100013,Produce,Grapefruit,0.99,50,2023-06-12 16:29:00,2023-06-15,100013,Fruit
4,P100014,Produce,Organic Strawberries,3.99,148,2023-06-12 18:10:00,2023-06-15,100014,Fruit

In [18]:
# checking if 'Item' column contains organic or Organic
groceries ['organic'] = groceries.Item.str.contains('organic|Organic', regex = True)

In [ ]:
or make organic lower in item column and then search
# groceries.Item.str.lower().str.contains('organic')

In [19]:
groceries.head()

,Product_ID,Category,Item,Price_Dollars,Inventory,Last_Updated,Next_Scheduled_Shipment,Product_ID_Num,Subcategory,organic
0,P100010,Produce,Apple,1.50,349,2023-06-12 15:35:00,2023-06-15,100010,Fruit,False
1,P100011,Produce,Banana,0.40,500,2023-06-12 18:30:00,2023-06-15,100011,Fruit,False
2,P100012,Produce,Grapes,4.00,200,2023-06-12 17:22:00,2023-06-15,100012,Fruit,False
3,P100013,Produce,Grapefruit,0.99,50,2023-06-12 16:29:00,2023-06-15,100013,Fruit,False
4,P100014,Produce,Organic Strawberries,3.99,148,2023-06-12 18:10:00,2023-06-15,100014,Fruit,True

In [21]:
# reorganize or reorder the columns

groceries[['Product_ID', 'Product_ID_Num', 'Category', 'Subcategory', 'Item', 'organic', 'Price_Dollars', 'Inventory', 'Last_Updated', 'Next_Scheduled_Shipment']]

,Product_ID,Product_ID_Num,Category,Subcategory,Item,organic,Price_Dollars,Inventory,Last_Updated,Next_Scheduled_Shipment
0,P100010,100010,Produce,Fruit,Apple,False,1.50,349,2023-06-12 15:35:00,2023-06-15
1,P100011,100011,Produce,Fruit,Banana,False,0.40,500,2023-06-12 18:30:00,2023-06-15
2,P100012,100012,Produce,Fruit,Grapes,False,4.00,200,2023-06-12 17:22:00,2023-06-15
3,P100013,100013,Produce,Fruit,Grapefruit,False,0.99,50,2023-06-12 16:29:00,2023-06-15
4,P100014,100014,Produce,Fruit,Organic Strawberries,True,3.99,148,2023-06-12 18:10:00,2023-06-15
5,P100015,100015,Produce,Fruit,Watermelon,False,5.99,99,2023-06-12 19:15:00,2023-06-15
6,P100016,100016,Produce,Vegetable,Cabbage,False,1.78,78,2023-06-12 19:25:00,2023-06-15
7,P100017,100017,Produce,Vegetable,Carrots,False,2.00,200,2023-06-12 18:05:00,2023-06-15
8,P100018,100018,Produce,Vegetable,Celery,False,1.99,50,2023-06-12 16:42:00,2023-06-15
9,P100019,100019,Produce,Vegetable,Cucumber,False,0.99,230,2023-06-12 17:47:00,2023-06-15
10,P100020,100020,Produce,Meat,Beef,False,8.99,145,2023-06-13 07:00:00,2023-06-17
11,P100021,100021,Produce,Meat,Chicken (Organic),True,10.49,284,2023-06-13 07:20:00,2023-06-17
12,P100022,100022,Produce,Meat,Turkey,False,7.99,188,2023-06-13 07:32:00,2023-06-17
13,P100023,100023,Produce,Dairy,Butter,False,3.50,400,2023-06-13 08:35:00,2023-06-17
14,P100024,100024,Produce,Dairy,Eggs,False,3.29,234,2023-06-13 08:54:00,2023-06-17
15,P100025,100025,Produce,Dairy,Milk (Soy),False,4.49,32,2023-06-13 08:37:00,2023-06-17
16,P100026,100026,Produce,Dairy,Yogurt,False,1.00,432,2023-06-13 08:41:00,2023-06-17
17,P100027,100027,Pantry,Snacks,Apple Sauce - organic,True,1.50,27,2023-06-10 12:02:00,2023-06-24
18,P100028,100028,Pantry,Snacks,Chips,False,2.50,365,2023-06-10 12:12:00,2023-06-24
19,P100029,100029,Pantry,Snacks,Cookies (Oatmeal),False,5.39,340,2023-06-10 12:24:00,2023-06-24
20,P100030,100030,Pantry,Snacks,Raisins,False,2.99,5,2023-06-10 12:38:00,2023-06-24
21,P100031,100031,Frozen,Frozen Snacks,Chicken Nuggets,False,6.99,85,2023-05-28 22:02:00,2023-06-28
22,P100032,100032,Frozen,Frozen Snacks,Spinach Dip,False,4.96,76,2023-05-28 22:05:00,2023-06-28
23,P100033,100033,Frozen,Frozen Fruit,Frozen Blueberries,False,10.99,162,2023-05-28 22:14:00,2023-06-28
24,P100034,100034,Frozen,Frozen Fruit,Frozen Pineapple,False,7.96,178,2023-05-28 22:11:00,2023-06-28